*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body{

	background-color: #b0d0f6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%231572e0' fill-opacity='0.14' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}

/*Enalces*/
a{
	color: #000000;
	text-decoration: none;
	padding: 5px;

}

ul{
	list-style: none;
}

/*El contenido*/

.container{

	width: 90%;
	margin:auto;
}


/*Navegacion*/

.nav-main{
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 20px 0;
}

.nav-logo{
    
    padding-top: 10px;
	width: 230px;

}

/*Navegacion Izquierda*/

.nav-main ul{
	display: flex;
	justify-content: space-between;
}

.nav-main ul li ul{
	display: flex;
	flex-direction: column;
}

.nav-main ul li{
	padding: 30px;
}

.nav-main ul li a:hover{
	border-bottom: 2px solid #000000;
}

.nav-main ul li ul{
	background: rgba(18,194,233, 0.5);
	position: absolute;
	left: 850px;

}

.nav-main ul li ul li{
	justify-content: center;
	font-size: 15px;
	padding: 10px 10px;
	margin: 10px;
}

.nav-main ul li ul{
	display: none;
}

.nav-main ul li:hover > ul{
	display: block;
}

.nav-main ul.nav-menu{
    flex: 1;
	margin-left: 100px;
}

/*Linea del Menu*/

hr{

	border: solid #1F618D;
}

/*Showcase*/

.showcase{
	width: 100%;
	height: 550px;
	background: url(Imagenes/escuela.jpg) no-repeat center/cover;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;

}

header h2{
	font-size: 50px;
	background-color: rgba(0,74,173, .5);
	padding: 20px 10px;
	border-radius: 5px;
	color: #ffffff;
	

}

/*news cards*/

.news-cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:20px;
	margin: 10px 0px;
	height: 700px;

}

.news-cards img{
	width: 100%;
	height: 30%;

}

.news-cards iframe{
	width: 100%;
	height: 20%;

}

.news-cards p a{
	text-decoration-line: underline;
	color: white;
}

.news-cards p a:hover{
	color: #1F618D;
}

.news-cards p{
	text-align: justify;
}


.news-cards h3{
	font-size: 20px;
	margin: 10px 9px;


}

h2{
	text-align: center;
	font-size: 25px;
	color: #1F618D;
	text-decoration-line: underline;
}


/*Social*/
.social{
	margin: 50px;
}

.social p{
    font-size: 30px;
    text-decoration-line: underline;
	text-align: center;
	color: #1F618D;
	padding-bottom: 10px;
}

.links{
	display: flex;
	align-items: center;
	justify-content: center;

}

.links a{
	margin: 0 30px;
}

.links a i{
	font-size: 2rem;
}

/*Banner*/

.banner{
	
	width: 100%;
	height: 350px;
	background: url(Imagenes/1erAño.jpg) no-repeat center center/cover;

}

.banner .contenido{
	width: 50px
	padding:100px 0 0 30px;


}

.banner .contenido img{
	width: 25%;

}

.banner .contenido p{

	text-align: center;
	font-size: 50px;
	background-color: rgba(0,74,173, .5);
	color: #ffffff;
	width: 70%;
	margin-left: 180px; 
	border-radius: 5px
}

.banner2{
	
	width: 100%;
	height: 350px;
	background: url(Imagenes/2doAño.jpg) no-repeat center center/cover;

}

.banner2 .contenido{
	width: 50px
	padding:100px 0 0 30px;


}

.banner2 .contenido img{
	width: 25%;

}

.banner2 .contenido p{

	text-align: center;
	font-size: 50px;
	background-color: rgba(0,74,173, .5);
	color: #ffffff;
	width: 70%;
	margin-left: 180px; 
	border-radius: 5px
}

.banner3{
	
	width: 100%;
	height: 350px;
	background: url(Imagenes/3erAño.jpg) no-repeat center center/cover;

}

.banner3 .contenido{
	width: 50px
	padding:100px 0 0 30px;


}

.banner3 .contenido img{
	width: 25%;

}

.banner3 .contenido p{

	text-align: center;
	font-size: 50px;
	background-color: rgba(0,74,173, .5);
	color: #ffffff;
	width: 70%;
	margin-left: 180px; 
	border-radius: 5px
}

/*Pie de Pagina*/

.footer{
	background-color: rgba(0,74,173, .5);
	padding: 10px;
	text-decoration: underline;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
}

/*FORMULARIO*/

.esqueleto{
    margin: 20px 300px;
	justify-content: center;
	background-color: #FFFFFF;
	padding: 20px 30px; /*Arriba y abajo 40px y 0 hacia los lados*/
	box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	width: 550px;
	height:auto;
	
	

}

/*Lineas de Texto*/


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 80%;
  
  }

.form__field {
  width: 115%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 17px ;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-left: 20px;

}


.form__field:focus {
  padding-bottom: 5px;  
  border-width: 2px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}


/*Input*/

.boton{ 
     background: #4e54c8;  /* fallback for old browsers */
	 background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
	 background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     border: none;
     border-radius: 5px;
     width: 50%;
     height: 40px;
     margin-top: 15px;
     margin-bottom: 20px auto;
     padding: 5px 5px 5px 5px;
     color: #FFFFFF;
     display: block;
     font-size: 15px;
     cursor: pointer;
     margin-left: 130px;

         }
.boton:hover{
     opacity: 0.5;
     color: white;

}

 /*Radio Buttons*/

.select_grado{
	padding-bottom: 20px;
	border:none;
	font-size: 18px
}

/*Select*/

select {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 1.3;
  padding: .4em 1.4em .3em .8em;
  width: 400px;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 20px auto;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
  border-radius: .3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;

  }

  img {
  	width: 200px;
  }
  
  h4 {
  	width: 30%;
  	font-size: 20px;
  	padding: 10px 10px; /*Le da el espaciado en los titulos de los contenido de las materias*/
  	border: 2px solid #1F618D ;
  	border-radius: 5px;
  }

 .grado{
    margin-top: 10px;
    width: 30%;
    background: transparent;
    border: 2px solid #1F618D;
    

  }

 .cabeza{
  	margin-top: 20px;
  	background: rgba(73,147,204, 0.5);
  	height: 30%;
  	padding: 5px ;
  	border: 3px solid #31058E;
  	margin-bottom: -20px;

  }

.cabeza img{
	position: absolute;
	margin-left: 35%;
	width: 500px;
	top:-35px;
}

/*BOTON SALIR*/

.cabeza button{
	background: #FC453F;
	color: white;
	justify-content: center;
	width: 50px;
	font-size: 15px;
	padding: 5px 5px;
	border: none;
	border-radius: 5px;
	float: right;
	text-align: center;
	top: 200px;
	margin-top: -130px;

}

.cabeza button:hover{
	background: #F37F7B;
	
}


/*Historia*/

.Sub_title{
	border:none;
	width: 100%;
	text-decoration-line: underline;
	font-size: 17px;

}

.historia{
	text-align: justify;

}

.historia img{
	width: 500px;
}

.img_Subt{
	width: 100px;
    float: right;

}

/*Matematica*/

.matematica{
	text-align: justify;
}

.matematica img{
	width: 300px;
	justify-content: center;
	display: block; /*De esta forma se centra una img en html, display y margin*/
	margin: auto;
}

/*Castellano*/

.castellano{
	text-align: justify;
}

.castellano img{
	width: 300px;
	justify-content: center;
	display: block; /*De esta forma se centra una img en html, display y margin*/
	margin: auto;
}

/*Castellano*/

.naturaleza{
	text-align: justify;
}

.naturaleza img{
	width: 450px;
	justify-content: center;
	display: block; /*De esta forma se centra una img en html, display y margin*/
	margin: auto;
}

/*Artistica*/

.artistica{
	text-align: justify;
}

.artistica img{
	width: 200px;
	justify-content: center;
	display: block; /*De esta forma se centra una img en html, display y margin*/
	margin: auto;
}

/*Ingles*/

.ingles{
	text-align: justify;
}

/*Por alguna razon no funciono la img de aqui*/

/*Fisica*/

.fisica{
	text-align: justify;
}

.fisica img{
	width: 500px;
	justify-content: center;
	display: block; /*De esta forma se centra una img en html, display y margin*/
	margin: auto;
}

/*Quimica*/

.quimica{
	text-align: justify;
}

.quimica img{
	width: 300px;
	justify-content: center;
	display: block; /*De esta forma se centra una img en html, display y margin*/
	margin: auto;
}

/*Historia Universal*/

.universal{
	text-align: justify;
}

.universal img{
	border: 3px solid #1F8D78;
	width: 400px;
	justify-content: center;
	display: block; /*De esta forma se centra una img en html, display y margin*/
	margin: auto;
}

/*boton atras*/


.atras{
	background: #287ECC;
	color: white;
	padding: 5px 20px;
	border-radius: 5px;
}

.atras:hover{
	background: #6EBAFF;
}

/*Animacion de los cards y banners*/

@keyframes mover{
	0%{
		transform: translate(100px);
	}
}